body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Wayfarer, sans-serif;
  font-size: 3.5em;
  line-height: 1.2;
  font-weight: 400;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Wayfarer, sans-serif;
  font-size: 2.5em;
  line-height: 1.2;
  font-weight: 400;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2em;
  line-height: 1.2;
  font-weight: 700;
}

.page {
  position: relative;
}

.page.top-pad {
  padding-top: 110px;
}

.welcome {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  width: 100%;
  height: 100%;
  max-height: 400px;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.welcome-content {
  text-align: center;
}

.brand {
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #2a2221;
}

.brand:hover {
  color: #00baa4;
}

.nav-logo {
  width: 90px;
  height: 50px;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.main {
  position: relative;
}

.container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5vw;
  padding-left: 5vw;
}

.container.large {
  max-width: 1440px;
  padding-left: 5vw;
}

.text-block {
  color: #89d2d1;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-right: 2rem;
  padding-left: 2rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  border-bottom: 9px solid #2a2221;
  background-color: #fff;
}

.nav-link {
  padding: 15px;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.nav-link:hover {
  color: #00baa4;
}

.nav-link.w--current {
  color: #00baa4;
}

.content-block {
  padding: 2rem;
}

.slash {
  color: #00baa4;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-name-image {
  position: absolute;
  left: 1rem;
  top: 2rem;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 50px;
}

.about-intro {
  padding-top: 5rem;
}

.about-intro-content-grid {
  position: relative;
  z-index: 13;
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.5vw;
  grid-row-gap: 2.5vh;
  -ms-grid-columns: 1fr 300px;
  grid-template-columns: 1fr 300px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.ai-figure-image {
  margin-bottom: 15px;
}

.ai-figure-title {
  opacity: 0.8;
  color: #2a2221;
}

.ai-figure-text {
  color: #989392;
  font-size: 0.9em;
}

.ai-figure {
  margin-bottom: 5vh;
  color: #c8c5c5;
}

.ai-signature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.about-intro-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -95px;
  margin-bottom: -4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.aie-container {
  position: relative;
  margin-right: 10vw;
  margin-bottom: 10vh;
  margin-left: 10vw;
  padding-right: 10vw;
  padding-left: 10vw;
  border-bottom: 1px solid #000;
}

.aie-container.large {
  max-width: 1440px;
  padding-left: 5vw;
}

.aie-content {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 150px 3rem 3rem;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  text-align: center;
}

.sketch-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.al-intro {
  margin-top: 5vh;
  padding: 2rem;
  text-align: center;
}

.al-title {
  font-size: 2.5em;
}

.al-numbered-image {
  width: 90%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.al-numbered-figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.al-content-block {
  max-width: 800px;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
}

.heading {
  font-size: 2.5em;
}

.hero {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2a2221;
}

.hero-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero-logo-link {
  position: relative;
  z-index: 3;
  width: 435px;
  height: 335px;
}

.frontpage-intro {
  position: relative;
  z-index: 3;
}

.fp-intro-wrap {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 5vw;
  padding-left: 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fp-intro-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero-logo {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  -o-object-fit: contain;
  object-fit: contain;
}

.hero-logo.top {
  z-index: 3;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.hero-logo.top:hover {
  opacity: 0;
}

.fp-intro-image {
  width: 200px;
}

.fp-intro-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 700px;
  margin: 5vh auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  -ms-grid-columns: 150px 1fr;
  grid-template-columns: 150px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  color: #c8c5c5;
}

.frontpage-testimonials {
  padding-top: 15vh;
  padding-bottom: 5vh;
}

.fp-testimonial {
  position: relative;
  z-index: 13;
  max-width: 700px;
  margin-right: auto;
  margin-bottom: 15vh;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
  text-align: center;
}

.fp-testimonial.last {
  margin-bottom: 5vh;
}

.fpt-quote {
  margin-bottom: 2rem;
}

.fpt-name {
  font-weight: 700;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10vh;
  padding-bottom: 10vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-2 {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-background {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 100%;
  object-position: 50% 100%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-logo {
  width: 200px;
  opacity: 0.44;
}

.footer-portal {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 150px;
  height: 250px;
  margin-right: 5vw;
  margin-left: 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pixel-portal {
  position: relative;
  z-index: 2;
  width: 100%;
}

.pixel-peter {
  position: relative;
  z-index: 1;
  width: 70%;
  margin-left: -15px;
}

.portal-trigger {
  z-index: -1;
}

.quote {
  width: 50px;
}

.quote.right {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.quotes {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.block {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 500px;
  height: 300px;
  background-color: #c8c5c5;
}

.test {
  color: #fff;
}

.work-item {
  cursor: pointer;
}

.work-thumbnail-image {
  width: 170px;
  height: auto;
  -webkit-filter: contrast(200%) grayscale(100%);
  filter: contrast(200%) grayscale(100%);
  -webkit-transition: -webkit-filter 200ms ease;
  transition: -webkit-filter 200ms ease;
  transition: filter 200ms ease;
  transition: filter 200ms ease, -webkit-filter 200ms ease;
}

.work-thumbnail-image:hover {
  -webkit-filter: contrast(100%) grayscale(0%);
  filter: contrast(100%) grayscale(0%);
}

.work-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 333;
  display: none;
  width: 100%;
  height: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
}

.work-overlay.this {
  display: block;
}

.work-image {
  position: relative;
  z-index: 334;
  width: 100%;
  height: auto;
}

.work-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.work-section {
  z-index: 3;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.work-header {
  margin-bottom: 2rem;
}

.work-close {
  position: fixed;
  left: auto;
  top: 2rem;
  right: 2.5rem;
  bottom: auto;
  z-index: 339;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 99999px;
  background-color: #fff;
}

.work-close-icon {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
  object-fit: contain;
}

.work-overlay-bg {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 334;
  background-color: #1a1818;
}

.fpi-text1 {
  margin-top: 0px;
  color: #fff;
  font-size: 3.6em;
  line-height: 1;
}

.fpi-text1-creative {
  font-size: 5rem;
}

.fp-intro-content-block {
  height: 100%;
}

.about-page-quotes {
  position: absolute;
  left: 0%;
  top: 150px;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pmc-logos-figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pmc-brand-colors {
  max-width: 800px;
  margin-top: 1rem;
}

.final-logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.final-logos-heading {
  margin-bottom: 1rem;
}

.component-section {
  position: relative;
  padding: 5vh 5vw;
}

.component-label {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  padding: 1rem;
  background-color: #c8c5c5;
}

.component {
  position: relative;
  padding: 5vh 5vw;
}

.button {
  padding: 0.7rem 1.2rem;
  border-radius: 14px;
  background-color: #00baa4;
  color: #1a1818;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.page-header {
  position: relative;
  z-index: 13;
}

.content-section {
  position: relative;
  z-index: 13;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.price-image {
  width: 300px;
  margin-left: -25px;
}

._2col {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.pricing-section-content {
  max-width: 733px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pricing-section-content.padded {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pricing-section-content._0bottom {
  padding-bottom: 0rem;
}

.process-image {
  width: 48%;
}

.contact-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh;
  margin-bottom: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2a2221;
  font-size: 1.5em;
  line-height: 1;
  text-decoration: none;
}

.contact-link:hover {
  color: #00baa4;
}

.contact-socials {
  margin-bottom: 5vh;
}

.social-link {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-link:hover {
  opacity: 0.7;
}

.contact-link-icon {
  margin-right: 1rem;
}

.contact-page-content {
  position: relative;
  z-index: 13;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.work-overlay-images-wrap {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5vw;
  padding-bottom: 4rem;
  padding-left: 5vw;
}

.work-overlay-images-wrap.large {
  max-width: 1440px;
  padding-left: 5vw;
}

.pricing-section {
  position: relative;
  z-index: 13;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

.work-bottom-close {
  position: relative;
  z-index: 3336;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  padding: 1rem 1.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 9999px;
  background-color: #fff;
  color: #1a1818;
  text-transform: uppercase;
}

.work-closer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-close-text {
  margin-left: 1rem;
}

.page-background {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: -2;
  width: 100%;
  opacity: 0.7;
  -o-object-fit: contain;
  object-fit: contain;
}

@media screen and (max-width: 991px) {
  .page.top-pad {
    padding-top: 80px;
  }

  .nav-container {
    height: 80px;
  }

  .nav-link {
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 1.2em;
    text-align: center;
  }

  .slash {
    display: none;
  }

  .nav-menu {
    border-bottom: 7px solid #2a2221;
    background-color: #fff;
  }

  .page-name-image {
    display: none;
    opacity: 0.3;
  }

  .about-intro-content-grid {
    display: block;
  }

  .ai-signature {
    display: block;
  }

  .ai-signature-image {
    height: 100px;
    margin-bottom: 4rem;
  }

  .about-intro-end {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .aie-content {
    padding-top: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .al-intro {
    margin-top: 0vh;
    margin-bottom: 2rem;
    padding-right: 0rem;
    padding-left: 0rem;
    text-align: left;
  }

  .al-title {
    margin-bottom: 1rem;
  }

  .hero-background {
    padding-top: 80px;
    -o-object-position: 70% 50%;
    object-position: 70% 50%;
  }

  .hero-logo-link {
    width: 300px;
    height: 240px;
  }

  .fp-intro-content {
    max-width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .fpi-text2 {
    position: relative;
  }

  .fp-testimonial.last {
    padding-right: 50px;
    padding-left: 50px;
  }

  .footer {
    padding-bottom: 0vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-portal {
    position: relative;
    margin-top: 3rem;
  }

  .menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #989392;
  }

  .menu-button:hover {
    color: #00baa4;
  }

  .menu-button.w--open {
    background-color: transparent;
    color: #2a2221;
  }

  .menu-button-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 5px;
    height: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mbi-dot {
    width: 5px;
    height: 5px;
    padding: 0px;
    border-radius: 99999px;
    background-color: #2a2221;
  }

  .close-text {
    display: none;
    padding-right: 1rem;
    color: #989392;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .close-text:hover {
    color: #00baa4;
  }

  .menu-button-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-text {
    padding-right: 1rem;
    color: #1a1818;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .quote {
    width: 33px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .work-overlay {
    display: block;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .work-close {
    top: 1rem;
    right: 1rem;
  }

  .about-page-quotes {
    top: 5px;
  }

  .pmc-brand-colors {
    max-width: 100%;
  }

  ._2col {
    display: block;
  }

  .pricing-section-content {
    max-width: 100%;
  }

  .contact-links {
    margin-bottom: 1rem;
  }

  .contact-link {
    margin-bottom: 1rem;
    font-size: 1em;
  }

  .work-overlay-images-wrap {
    padding-right: 0vw;
    padding-left: 0vw;
  }
}

@media screen and (max-width: 767px) {
  .fp-intro-image {
    width: 100%;
    min-width: 100px;
  }

  .fp-intro-content {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .fpi-text2 {
    font-size: 16px;
  }

  .footer-2 {
    padding: 40px 20px;
  }

  .footer-background {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .work-thumbnail-image {
    width: 150px;
    height: 150px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .work-items {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .work-header {
    text-align: center;
  }

  .fpi-text1 {
    font-size: 1.5em;
  }

  .fpi-text1-creative {
    font-size: 2rem;
  }

  .process-image {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .about-intro {
    padding-top: 1rem;
  }

  .about-intro-content-grid {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .al-title {
    font-size: 2em;
  }

  .heading {
    font-size: 2em;
  }

  .fp-intro-image {
    min-width: 40px;
  }

  .fp-testimonial {
    padding-right: 50px;
    padding-left: 50px;
  }

  .fpt-quote {
    font-size: 16px;
  }

  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .footer-logo {
    width: 200px;
  }

  .work-items {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .price-image {
    width: 250px;
    margin-left: 0px;
  }
}

#w-node-ca1bc145-4a47-559e-bac9-09cd6b661152-277e0399 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8f377966-c53d-62f1-04a1-1c76a5655b4d-277e0399 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7cf82c46-5cb3-d6e3-8c2a-6b60d608fc26-d53cb2ab {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ec6f441f-b99a-cea9-9aa8-ee9410a7b9e1-d53cb2ab {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_90a30cfd-091f-bbba-838b-064e75f59382-d53cb2ab {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-a26b82f1-b34e-0cb5-0681-6e902e24c780-251b712a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_06b6d446-487c-e490-0d48-f7383e53c011-251b712a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99556756-3de9-2e9d-e32c-fa18a18d3e06-251b712a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6a895dc4-497b-d286-5462-633e2a90bb6a-251b712a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@font-face {
  font-family: 'Wayfarer';
  src: url('../fonts/Wayfarer-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}